# Environments
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Machine Learning & Data
data/raw/
artifacts/
runs/
*.pt
*.pth
*.onnx
*.ckpt

# Streamlit
.streamlit/secrets.toml

# IDEs, System & Temporary Files
.vscode/
.idea/
.DS_Store
.local/
tmp/
temp/
scratch/
*.log
